body {
   
}

img { 
        width: 100%;
}

.apresentacao {
    background-color: aliceblue;
padding: 30px;
}
h1{
    text-align: center;
}

p {
    text-align: center;
font-size: 20px;
}
em strong {
    color: red;
}
beneficios {
    background-color: aliceblue;
    padding: 20px;
}
h2 {
    text-align: center;
}
ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagensbeneficios {
    width: 50%;
}

